<hello/>

<!-- <div id="task" v-if="selectedTask != null">

</div>

<div id="tasks" v-else>
  <h1>Tasks</h1>
  <table class="table">
    <tbody>
      <tr is="task-row" v-for="task in tasks" :task="task"></tr>
    </tbody>
  </table>
</div>

<script id="task-row" type="text/x-template">
  <tr>
    <td>
      <div v-if="editMode">
        <input type="text" v-model="task.name"><br>
        <span style="color:red">{{ errors.name }}</span>
      </div>
      <a v-else :href="task.url">{{ task.name }}</a>
    </td>
    <td>
      <span class="badge badge-primary">{{ task.sub_tasks ? task.sub_tasks.length : 0 }}</span>
    </td>
    <td>
      <button v-if="editMode" @click="updateTask">Save</button>
      <button v-else @click="editMode = true">Edit</button>
    </td>
  </tr>
</script>

<script type="text/javascript" src="assets/tasks.js"></script> -->
